extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Efy Neftali Hernandez

        p Full Stack Software Engineer

        .about-bio

          p Genomic Scientist with background in bioinformatics turned Full Stack Software Engineer. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 559-836-1634
          li efy.hernandez@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/efy-neftali-hernandez-077464151/',  target="_blank") LinkedIn
        a.btn-link(href='https://github.com/efyneftali', target="_blank") GitHub
        a.btn-link(href='https://www.instagram.com/efys411/', target="_blank") Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back